{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Padaria pão quentim</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Página inicial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="createuser">Criar Usuário</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="background-container">
            <div class="background-image">
                <img width="100%" height="100%" src="{% static 'img/background.jpg' %}" alt="">
                <div class="background-inner">
                    <h1>PADARIA PÃO QUENTIM</h1>
                    <p>Faça seu pedido!</p>
                    <div class="flex">
                        <a href="createuser"><button class="button-first">Registre-se</button></a>
                        <a href="login"><button class="button-first">Login</button></a>
                    </div>
                </div>

            </div>
      </div>
</body>
</html>