{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de produtos</title>
</head>
<body
style="
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #9f2828;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
"
>

<a href="logout"><button style="font-size: 20px; padding: 10px; border-radius: 15px; margin-top: 10px; background-color: #b1aaad; border: none;">SAIR</button></a>
<div style="background-color: white; padding: 50px; margin-top: 20px; border-radius: 50px; width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div style="display: flex; flex-direction: column; align-items: center">
    <img src="{% static 'img/logo-bakery.png' %}" alt="" width="133px" />
    <p style="font-weight: 900; text-align: center;">
      PADARIA <br />
      PÃO QUENTIM
    </p>
  </div>
  <h2 style="text-align: center; color: #9f2828;">PRODUTOS CADASTRADOS</h2> 
  <table border="1" class="table" style="width: 100%; overflow: visible;">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade em estoque</th>
    </tr>
    {% for produto in produtos %}
    <tr>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.quantidade }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
  <a href="createproduct"><button style="font-size: 20px; padding: 10px; border-radius: 15px; margin-top: 10px; background-color: #b1aaad; border: none;">NOVO PRODUTO</button></a>
</div>
</body>
</html>