{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuários</title>
  </head>
  <body
  style="
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #9f2828;
    display: flex;
    justify-content: center;
    align-items: center;
  "
  >

  <div style="background-color: white; padding: 50px; margin-top: 20px; border-radius: 50px; width: 50%;">
    <div style="display: flex; flex-direction: column; align-items: center">
      <img src="{% static 'img/logo-bakery.png' %}" alt="" width="133px" />
      <p style="font-weight: 900; text-align: center;">
        PADARIA <br />
        PÃO QUENTIM
      </p>
    </div>
    <h2 style="text-align: center; color: #9f2828;">CRIE SEU USUÁRIO</h1> 
      <form  style="display: flex; flex-direction: column; align-items: center;" action="{% url 'createuser' %}" method="post">
        {% csrf_token %}
        <div style="display: flex; width: 100%; justify-content: space-around;">
          <input style="font-size: 15px; padding: 10px; border: solid black; border-width: 0.1px; border-radius: 20px;" type="text" placeholder="nome de usuário" name="username" />
          <input style="font-size: 15px; padding: 10px; border: solid black; border-width: 0.1px; border-radius: 20px;" type="text" placeholder="endereço de email" name="email" />
          <input style="font-size: 15px; padding: 10px; border: solid black; border-width: 0.1px; border-radius: 20px;" type="password" placeholder="Senha" name="senha" />
        </div>
        <a href="buyingpage"><input style="font-size: 20px; width: 300px; padding: 10px; border-radius: 15px; margin-top: 30px; background-color: #b1aaad; border: none;" type="submit" value="Cadastrar"/></a>
      </form>
      <a href="/"><button style="color: white;font-size: 20px; padding: 10px; border-radius: 15px; margin-top: 30px; background-color: #9f2828; border: none;" class="btn btn-primary">Voltar</button></a>
    </div>
  </div>
  </body>
</html>