.background-container { 
    display: flex;
    width: 100%;
    justify-content: center;
}

.background-inner {
    border-radius: 16px;
    display: flex;
    width: 100%;
    border: solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
}

.background-inner h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

.background-inner p {
    font-size: 40px;
}
